@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

:root {
    --bg-dark: oklch(0.1 0.025 264);
    --bg: oklch(0.15 0.025 264);
    --bg-light: oklch(0.2 0.025 264);
    --text: oklch(0.96 0.05 264);
    --text-muted: oklch(0.76 0.05 264);
    --highlight: oklch(0.5 0.05 264);
    --border: oklch(0.4 0.05 264);
    --border-muted: oklch(0.3 0.05 264);
    --primary: oklch(0.76 0.1 264);
    --secondary: oklch(0.76 0.1 84);
    --danger: oklch(0.7 0.05 30);
    --warning: oklch(0.7 0.05 100);
    --success: oklch(0.7 0.05 160);
    --info: oklch(0.7 0.05 260);

    --font: 'Roboto';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-dark);
    color: var(--text);
    font-family: 'Roboto', sans-serif;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.green {
    color: var(--success);
}

.red {
    color: var(--danger);
}

header {
    background-color: var(--bg);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 2.5rem;
}

#cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    margin: 40px 0;
    padding: 0 20px;
}

.card {
    border: 1px solid var(--border-muted);
    border-top: 2px solid var(--border);
    background-color: var(--bg);
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-rows: 3fr 2fr;
    min-height: 250px;

}

.card:hover {
    background: linear-gradient(var(--bg-light), var(--bg));
}

.card h4 {
    margin-top: 4px;
}

.card h4 {
    color: var(--text-muted);
}

.card p {
    font-size: 0.9rem;
}

.read-status {
    margin-top: 8px;
}

.new-book-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--secondary);
    color: var(--text);
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
    border: 1px solid var(--border-muted);
    border-top: 2px solid var(--border);
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;
}

.new-book-btn:hover {
    background-color: var(--text);
    color: var(--bg-light);
}

#dialog {
    position: fixed;
    width: 600px;
    height: 400px;
    top: 80px;
    left: calc((100vw / 2) - 300px);
    background-color: var(--bg);
    color: var(--text);
    border: 1px solid var(--border-muted);
    border-top: 2px solid var(--border);
    border-radius: 10px;
}

#new-book-form {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-template-rows: 200px 20px;
    width: 100%;
    height: 100%;
    column-gap: 20px;
}

#dialog ul {
    grid-column: 1 / span 2;
    grid-row: 1;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 10px;
    padding: 20px;
}

#dialog li {
    display: grid;
    grid-template-columns: 200px 1fr;
}

#dialog input[type="text"],
#dialog input[type="number"] {
    width: 12rem;
    height: 1.6rem;
    font-size: 1rem;
    padding-left: 5px;
}

input[type="checkbox"] {
    appearance: none;
    width: 44px;
    height: 24px;
    border-radius: 12px;
    border: 2px solid var(--border-muted);
    background-color: var(--text);
    position: relative;
    transition: all 0.4s;
}

input[type="checkbox"]::before {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 9px;
    background-color: var(--bg);
    top: 2px;
    left: 8%;
    border: 1px var(--bg) solid;
    content: "";
    transition: all 0.4s;
}

input[type="checkbox"]:checked {
    background-color: var(--bg-light);
    border-color: var(--text);
    transition: all 0.4s;
}

input[type="checkbox"]:checked::before {
    background-color: var(--text);
    border-color: var(--text);
    left: 55%;
    transition: all 0.4s;
}


#dialog button {
    background-color: var(--bg-light);
    color: var(--text);
    width: 10rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid var(--border-muted);
    border-top: 2px solid var(--border);
    font-size: 1.2rem;
    font-weight: 500;
}

#dialog button:hover {
    background-color: var(--text);
    color: var(--bg-light);
}

.btn-container {
    display: flex;
}

#cancel-btn-container {
    grid-column: 1;
    grid-row: 2;
    justify-content: flex-end;
}

#submit-btn-container {
    grid-template-rows: 2;
    grid-row: 2;
}

.card-action-btns {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 20px;
    margin-right: 10px;
}

.delete,
.toggle-read {
    width: 30px;
    height: 30px;
    border: none;
    background-color: var(--bg);
}

.delete svg,
.toggle-read svg {
    fill: var(--text-muted);
}

.delete svg:hover,
.toggle-read svg:hover {
    fill: var(--text);
}

.toggle-read {
    margin-right: 20px;
}